- name: Install chocolatey packages
  win_chocolatey:
    name: 
      - asio4all #sound driver for reaper
      - gimp #smd0056,smd0057,smd0088,smd0089,smd0098,smd0105,smd0110 
      - inkscape #smd0088,smd0105,smd0110
      - krita #smd0057,smd0089,smd0098
      - anaconda3
      - audacity #smd0047
      - arduino #smd0112
      - vscode
      - openjdk
      - octave #smd0047
      - selenium
      - nodejs
      - postman
      - reaper
      - python
      - firefox
      - foxitreader
      - git
      - openjdk
      - bitvise-ssh-client
      - pycharm-community
      - winrar
      - libreoffice-fresh
      - tightvnc
      - inkscape
      - wacom-drivers
      - krita
      - fontforge
      - wwireshark
      - pgadmin4
    ignore_errors: True
    state: latest 
  tags: never,faixa2

- name: Upgrade all Chocolatey packages
  win_chocolatey:
    name: all
    state: latest
  tags: never,choco_upgrade_all

- name: Arduino Install and preparation
  block:
    - name: Copy zip file to the target
      ansible.windows.win_get_url:
        url: "{{ arduino_url_address }}"
        dest: "{{ aplicativos_dir }}"
      ignore_errors: True
    - name: nzip Install file
      community.windows.win_unzip:
        src: '{{ aplicativos_dir }}\{{ arduino_file_zip }}'
        dest: '{{ aplicativos_dir }}\Arduino'
        delete_archive: yes
      ignore_errors: True
    - name: Create shortcut on the desktop
      community.windows.win_shortcut:
        src: C:\Aplicativos\Arduino\Arduino Ide.exe
        dest: c:\users\aluno\desktop\Arduino.lnk
      ignore_errors: True
    - name: Add firewall rule for mdns-discovery on private network TCP
      win_firewall_rule:
        name: mdns-discovery TCP
        program: C:\users\aluno\appdata\local\arduino15\packages\bultin\tools\mdns-discovery\1.0.9\mdns-discovery.exe
        state: present
        enabled: yes
        action: allow
        direction: in
        localport: any
        localip: any
        remoteport: any
        remoteip: any
        protocol: tcp
        profiles: private
    - name: Add firewall rule for mdns-discovery on private network UDP
      win_firewall_rule:
        name: mdns-discovery UDP
        program: C:\users\aluno\appdata\local\arduino15\packages\bultin\tools\mdns-discovery\1.0.9\mdns-discovery.exe
        state: present
        enabled: yes
        action: allow
        direction: in
        localport: any
        localip: any
        remoteport: any
        remoteip: any
        protocol: udp
        profiles: private
    - name: Add firewall rule to provide access to arduino ide
      win_firewall_rule:
        name: Arduino IDE TCP
        program: C:\Aplicativos\Arduino\Arduino Ide.exe
        state: present
        enabled: yes
        action: allow
        direction: in 
        localport: any
        localip: any
        remoteport: any
        remoteip: any
        protocol: tcp
        profiles: private
    - name: Add firewall rule for Arduino IDE on private network UDP
      win_firewall_rule:
        name: Arduino IDE UDP
        program: C:\Aplicativos\Arduino\Arduino Ide.exe
        state: present
        enabled: yes
        action: allow
        direction: in
        localport: any
        localip: any
        remoteport: any
        remoteip: any
        protocol: udp
        profiles: private

  
- name: Install Blender 3.3.1 on old computers and create shortcut
  block:
    - name: Install Blender
      win_chocolatey:
        name: blender
        state: downgrade 
        pinned: true
        version: 3.3.1
      when: ansible_facts['os_name'] == "Microsoft Windows 10 Pro"
    - name: Create shortcut
      win_shortcut:
        src: C:\Program Files\Blender Foundation\Blender 3.3\blender.exe
        dest: C:\Users\Public\Desktop\Blender.lnk
        icon: C:\Program Files\Blender Foundation\Blender 3.3\blender.exe,0
      when: ansible_facts['os_name'] == "Microsoft Windows 10 Pro"
  rescue:
    - name: Print when errors
      debug:
        msg: 'An error ocurred Blender trying to install by a block on the SMD role.'
  tags: never,blender3
    
#- name: Install wick editor
#  win_package:
#    path: Windows_Wick.Editor.Setup.1.19.0.exe
#    state: present

- name: Install FontForge
  tags: never,faixa2
  win_package:
    path: "{{ fontforge_url }}" 
    state: present

- name: Glyphr Studio
  tags: never,faixa2
  win_package:
    path: https://github.com/glyphr-studio/Glyphr-Studio-Desktop/releases/download/v0.5.6/Glyphr.Studio.Setup.0.5.6.exe
    state: present

- name: Download P5 JS, Unzip to Aplicativos folder and remove the previous version
  block:
    - name: Removing old P5 JS
      win_file:
        path: "{{ aplicativos }}/p5"
        state: absent
    - name: Download P5 JS
      win_get_url:
        url: "{{ p5_url }}" 
        dest: "{{ downloads }}"
    - name: Unzip P5 JS
      win_unzip: 
        src: "{{ downloads }}/p5.zip"
        dest: "{{ aplicativos }}/p5"
        delete_archive: yes
  rescue:
    - name: Print when error
      ansible.builtin.debug:
        msg: 'A error ocurred on P5 JS task on smd role'
  tags: never,p5,faixa1,faixa2

#- name: MediBang Paint Pro
#  win_package:
#    path: https://medibangpaint.com/static/installer/MediBangPaintPro/MediBangPaintProSetup-28.1-64bit.exe
#    state: present
#    arguments:
#    - /silent
#
#- name: Kicad
#  win_package:
#    path: https://github.com/KiCad/kicad-source-mirror/releases/download/6.0.6/kicad-6.0.6_1-x86_64.exe
#    state: present

- name: Processing 
  block:
    - name: Downloading Processing 
      win_get_url: 
        url: "{{ processing_url }}" 
        dest: "{{ downloads }}"

    - name: Unzip Processing 
      win_unzip: 
        src: "{{ downloads }}/{{ processing_zip_file }}"
        dest: c:\Program Files
        delete_archive: yes

    - name: Create Processing shortcut on the desktop 
      community.windows.win_shortcut:
        src: "{{ processing_exec_file }}"
        dest: "{{ aluno_desktop }}/processing.lnk"
        icon: "{{ processing_exec_file }},0"
  rescue:
    - name: Print when error
      debug:
        msg: 'An error on installing processing block'
  tags: never,processing,faixa1,faixa2

- name: DaVinci Resolve
  # when: ansible_facts['product_name'] == "Inspiron 5400 AIO"
  block:
    - name: DaVinci Resolve - copy file to the target
      win_copy:
        src: "{{ davinci_zip_file }}"
        dest: "{{ downloads }}"
      tags: never,davinci

    - name: DaVinci Resolve - Ensure is installed
      win_package:
        path: "{{ downloads }}/{{ davinci_install_file }}"
        arguments: /i /q
      ignore_errors: True
      tags: never,davinci

    - name: DaVinci Resolve - Remove installer file
      win_file:
        path: "{{ downloads }}/{{ davinci_install_file }}"
        state: absent
      ignore_errors: true
      tags: never,davinci


- name: Create a shortcut for inkscape
  win_shortcut:
    src: C:\Program Files\inkscape\bin\inkscape.exe
    dest: c:\Users\aluno\Desktop\inkscape.lnk
    icon: C:\Program Files\inkscape\bin\inkscape.exe,0
  tags: never,faixa2,inkscape

- name: Install Cypress for Applied Test classes #SMD0048
  community.general.npm: 
    name: cypress
    global: true  
  tags: never,faixa2,smd0048

- name: Ensure Android Studio is installed
  block:
    - name: Remove Android Studio Folder
      win_file:
        path: "{{ androidstudio }}"
        state: absent
      tags: never,androidstudio_remove
    - name: AndroidStudio 
      win_chocolatey:
        name: androidstudio
        state: latest
      tags: never,androidstudio
    - name: Add firewall rule for androidstudio
      win_firewall_rule:
        name: adb.exe TCP
        program: C:\users\aluno\appdata\local\Android\Sdk\platform-tools\adb.exe
        state: present
        enabled: yes
        action: allow
        direction: in
        localport: any
        localip: any
        remoteport: any
        remoteip: any
        protocol: tcp
        profiles: private
    - name: Add firewall rule for mdns-discovery on private network UDP
      win_firewall_rule:
        name: adb.exe UDP
        program: C:\users\aluno\appdata\local\Android\Sdk\platform-tools\adb.exe
        state: present
        enabled: yes
        action: allow
        direction: in
        localport: any
        localip: any
        remoteport: any
        remoteip: any
        protocol: udp
        profiles: private
      

- name: Ensure tomcat files are copied already to the hosts
  win_get_url:
    url: "{{ tomcat_url }}"
    dest: "{{ user_temp_folder }}"
  tags: never,tomcat

- name: Ensure that tomcat files are unziped at documents folder
  win_unzip:
    src: "{{ user_temp_folder }}/{{ tomcat_zip_file }}"
    dest: "{{ aluno_documents_folder }}"
  tags: never,tomcat,smd0033

- name: Ensure Apache Netbeans is installed
  win_package:
    path: "{{ apache_netbeans_url }}"
    arguments: --silent
  tags: never,apache_netbeans

- name: Ensure Apache Netbeans + JDK are installed
  win_package:
    path: "{{ apache_netbeans_jdk_url }}"
    arguments: --silent
  tags: never,apache_netbeans_jdk

- name: Add firewall rule to provide access to Netbeans
  win_firewall_rule:
    name: netbeans
    program: c:\program files\netbeans-27\netbeans\bin\netbeans64.exe
    state: present
    enabled: yes
    action: allow
    direction: in 
    localport: any
    localip: any
    remoteport: any
    remoteip: any
    protocol: tcp
  tags: never,apache_netbeans

- name: Add firewall rule to provide access to OpenJDK Platform
  win_firewall_rule:
    name: OpenJDK 21 Platform
    program: c:\program files\openjdk\jdk-21.0.2\bin\java.exe
    state: present
    enabled: yes
    action: allow
    direction: in 
    localport: any
    localip: any
    remoteport: any
    remoteip: any
    protocol: tcp
  tags: never,apache_netbeans

- name: Add firewall rule to provide access to OracleJDK Platform
  win_firewall_rule:
    name: OracleJDK 17 Platform
    program: c:\program files\java\jdk-17.0.2\bin\java.exe
    state: present
    enabled: yes
    action: allow
    direction: in 
    localport: any
    localip: any
    remoteport: any
    remoteip: any
    protocol: tcp
  tags: never,apache_netbeans

- name: Ensure LibreOffice is installed on Windows hosts
  win_package:
    path: "{{ libre_office_url }}"
    state: present
  tags: never,libre_office

- name: Delete version 2022.3 
  win_shell: "{{ pycharm_uninstall_path }} /S"
  args: 
    executable: cmd
  tags: never,pycharm_uninstall

- name: Ensure Python and Pycharm are installed
  win_chocolatey:
    name:
      - python
      - pycharm-community
    state: latest
  tags: never,pycharm

- name: Ensure firewall rule for Pycharm is enabled
  win_firewall_rule:
    name: PyCharm
    program: '{{ pycharm_exec_path }}'
    direction: in
    action: allow
    state: present
    enabled: yes
  tags: never,pycharm

- name: Ensure that flash player uninstaller is on Windows\Temp folder
  win_stat:
    path: c:\Windows\temp\uninstall_flash_player.exe
  register: result
  tags: never,plugin_flashplayer

- name: Copy uninstaller to the OptiPlex target
  ansible.windows.win_copy:
    src: uninstall_flash_player.exe
    dest: c:\Windows\temp
  when: not result.stat.exists 
  tags: never,plugin_flashplayer

- name: Uninstall the Flash Player Plugin 
  ansible.windows.win_package:
    path: c:\Windows\temp\uninstall_flash_player.exe
    arguments: -uninstall 
  tags: never,plugin_flashplayer

- name: BGInfo download 
  win_copy:
    src: "bginfo/"
    dest: "{{ aplicativos }}/bginfo/"
  tags: never,bginfo_download

- name: BGInfo at boot 
  community.windows.win_scheduled_task:
    name: BGInfo 
    description: Exibir o nome do usuário logado e o IP do computador
    actions:
      - path: c:\Aplicativos\bginfo\Bginfo.exe
        arguments: /accepteula /timer:0 /silent
    triggers:
    - type: logon 
    username: SYSTEM
    run_level: highest
    wake_to_run: no
    enabled: yes
  tags: never,bginfo_task

- name: Install NVDA
  ansible.windows.win_package:
    path: https://www.nvaccess.org/download/nvda/releases/2022.2/nvda_2022.2.exe
    arguments:
    - --install-silent
    - -m
  tags: never,nvda

- name: Verify CloudFlare Warp Uninstall is present 
  win_stat: 
    path: "{{ cloudflare_warp_uninstall_path }}"
  register: cloudflare_uninstall_path
  tags: never,cloudflare_uninstall

- name: Uninstall CloudFlare Warp 
  win_package: 
    path: "{{ cloudflare_warp_uninstall_path }}"
  #args: 
    #executable: cmd
    #argument: /uninstall 
    state: absent
  when: cloudflare_uninstall_path.stat.exists
  tags: never,cloudflare_uninstall

- name: Unity and Unity Hub 
  block:
    - name: Ensure Unity and Unity Hub are installed
      win_chocolatey:
        name:
          - unity
          - unity-hub
        state: latest
    - name: Add firewall rule to provide access to Unity
      win_firewall_rule:
        name: unity
        program: c:\program files\
        state: present
        enabled: yes
        action: allow
        direction: in 
        localport: any
        localip: any
        remoteport: any
        remoteip: any
        protocol: tcp
  tags: never,unity

- name: Ensure Epic Games Launcher is the latest version
  win_chocolatey:
    name: epicgameslauncher 
    state: latest
  tags: never,epic,unreal



- name: Ensure julia installer is on windows host
  block:
    - name: Copy installer to Windows Temp Folder 
      win_copy: 
        src: "{{ julia_install_file }}" 
        dest: "{{ user_temp_folder }}" 
    - name: Install Julia 
      win_package:
        path: "{{ user_temp_folder }}/{{ julia_install_file }}"
        state: present
        arguments:
        - /SP
        - /SILENT
        - /CURRENTUSER
  tags: never,julia 
- name: Ensure wallpaper is set correctly
  block:
    - name: Select the smd wallpaper file
      win_regedit:
        path: HKEY_CURRENT_USER\Control Panel\Desktop
        name: Wallpaper
        data: "{{ wallpaper_path }}"
        type: string
    - name: Select the style
      win_regedit:
        path: HKCU:\Software\Microsoft\Windows\CurrentVersion\Policies\System
        name: WallpaperStyle
        data: 2
        type: string
    - name: Update wallpaper configurations to apply the changes
      win_shell:
        commands:
          - RUNDLL32.EXE user32.dll,UpdatePerUserSystemParameters ,1 ,True
  rescue:
    - name: Print when errors
      debug:
        msg: 'An error ocurred trying to define the wallpaper on SMD role.'
  tags: never,wallpaper

- name: Internet On/Off change state
  block:
    - name: Copiar script PowerShell para a máquina remota
      win_copy:
        src: disable_internet.ps1  # Nome do arquivo do script PowerShell
        dest: C:\Temp\disable_internet.ps1

    - name: Executar script PowerShell para desabilitar a internet
      win_shell: powershell.exe -ExecutionPolicy Bypass -File C:\Temp\disable_internet.ps1 -Action "disable"
      when: internet_action == "disable"

    - name: Executar script PowerShell para habilitar a internet
      win_shell: powershell.exe -ExecutionPolicy Bypass -File C:\Temp\disable_internet.ps1 -Action "enable"

      when: internet_action == "enable" 
  tags: never,exam

- name: Ensure Google Chrome is installed from install file
  block:
    - name: Copy Google file to hosts
      ansible.windows.win_copy:
        src: '{{ google_folder_file_install }}'
        dest: '{{ temp_dir }}'
      ignore_errors: True
    - name: Install Google Chrome silent mode
      ansible.windows.win_command:
        cmd: '{{ temp_dir }}\{{ google_file_name_install }} /silent /install'
        chdir: '{{ temp_dir }}'   
      ignore_errors: True    
    - name: Remove a file {{ google_file_name_install }}
      ansible.windows.win_file:
        path: '{{ temp_dir }}\{{ google_file_name_install }}'
        state: absent
      ignore_errors: True
  tags: never,googlechrome

- name: Safe Exam Browser (SEB)
  block:
    - name: Create a directory c:\temp
      ansible.windows.win_file:
        path: C:\Temp\
        state: directory
      ignore_errors: True
    - name: Baixar SEB
      ansible.windows.win_get_url:
        url: https://github.com/SafeExamBrowser/seb-win-refactoring/releases/download/v3.9.0/SEB_3.9.0.787_SetupBundle.exe
        dest: C:\Temp\SEB.msi
    - name: Instalar SEB silenciosamente
      ansible.windows.win_package:
        path: C:\Temp\SEB.msi
        state: present
        arguments: /quiet /norestart
    - name: Apagar arquivo de instalacao SEB
      ansible.windows.win_file:
        path: C:\Temp\SEB.msi
        state: absent
      ignore_errors: True
    - name: Create a directory C:\Users\aluno\AppData\Roaming\SafeExamBrowser\
      ansible.windows.win_file:
        path: C:\Users\aluno\AppData\Roaming\SafeExamBrowser\
        state: directory
      ignore_errors: True
    - name: Copiar arquivo de prova SEB para diretório de instalação
      ansible.windows.win_copy:
        src: /home/peterson/ansible-labs/files/SEB/SebClientSettings-HenriquePequeno.seb
        dest: C:\Users\aluno\AppData\Roaming\SafeExamBrowser\SebClientSettings.seb
      ignore_errors: True
  tags: never,seb

- name: Instalação do Veyon
  block:
    - name: Remove a file, if present
      ansible.windows.win_file:
        path: '{{ dir_veyon }}'
        state: absent
      ignore_errors: yes
    - name: Create a directory {{ dir_veyon }}
      ansible.windows.win_file:
        path: '{{ dir_veyon }}'
        state: directory
      ignore_errors: no
    - name: Copy veyon install file to host
      win_copy: 
        src: '{{ install_file_veyon }}'
        dest: '{{ dir_veyon }}'
    - name: Copy veyon config.json
      win_copy:
        src: "{{ config_json_file }}"
        dest: "{{ dir_veyon }}"
    - name: Copy veyon public keys to host
      win_copy:
        src: '{{ public_key_veyon_file }}'
        dest: '{{ dir_veyon }}'
    - name: Install Veyon windows.win_command
      ansible.windows.win_command:
        cmd: '{{ file_name_veyon }} /S /NoMaster /ApplyConfig={{ dir_veyon }}/{{ config_json_file }}'
        chdir: c:\Program Files\Veyon\
    - name: Remove keys if they exist #add ignore fail 
      ansible.windows.win_command:
        cmd: 'veyon-cli.exe authkeys delete {{ public_key_name_cli }}'
        chdir: '{{ dir_veyon }}'
      ignore_errors: yes
    - name: Import public Key 
      ansible.windows.win_command: 
        cmd: 'veyon-cli.exe authkeys import LaboratoriosSMD/public {{ public_key_name_veyon }}'
        chdir: '{{ dir_veyon }}'
      ignore_errors: no
    - name: Import config.json again just in case 
      ansible.windows.win_command: 
        cmd: 'veyon-cli.exe config import {{ config_json_name }}'
        chdir: '{{ dir_veyon }}'
      ignore_errors: no
    - name: Restart veyon service 
      ansible.windows.win_command:
        cmd:  'veyon-cli.exe service restart'
        chdir: '{{ dir_veyon }}'
      ignore_errors: yes
    - name: Remove a file
      ansible.windows.win_file:
        path: '{{ dir_veyon }}\{{ file_name_veyon }}'
        state: absent
      ignore_errors: True
  tags: never,veyon